In [1]:
print("Hello all welcome is the python programming Session!!")

Hello all welcome is the python programming Session!!

In [3]:
print("Hello World!!")

Hello World!!

In [3]:
#shift + enter button on the keyboard

In [ ]:
Introduction to python fundamentals

In [ ]:
Understanding the variables in python :

In [15]:
a = 3

b = 2

In [17]:
c = a+b

print(c)

5

In [ ]:
Rules for declaring the varaibles in python :

In [ ]:
Rule No - 1 : No Namespaces for declaring the variable names.

In [22]:
first name = "Faiyaz"

print(first name)

SyntaxError: invalid syntax (4051653174.py, line 1)

In [30]:
firstname = "Faiyaz"

print(firstname)

Faiyaz

In [ ]:
Rule No 2 : A varaible name should not start with a number **

In [19]:
1name = "David"

print(1name)

SyntaxError: invalid decimal literal (2603295238.py, line 1)

In [21]:
name1 = "David"

print(name1)

David

In [ ]:
Rule no 3 : A varaible name should not contain any special characters

In [23]:
name@ = "ganesh"

print(name@)

SyntaxError: invalid syntax (3938931654.py, line 1)

In [ ]:
@ # $ % ^ & * ! ========>

In [ ]:
Introdution to Datatypes in python :

1. Strings       =======> str

2. Numbers       =======> integers (int) floats (decimals) 0,1,0.2,1.5 ====> float

3. List          =======> list

4. Tuple         =======> tuple

5. Dictionaries  =======> dict

In [ ]:
Classification of datatypes :

Broadly datatypes are classified in to two categeories :

1. mutable datatypes     ======> which we can be able to edit / alter     

2. immutable datatypes   ======> which we cannot be able to edit / alter

In [ ]:
Introduction to string datatype :

Defination     : A string is a series of characters daclared in quotes.

Classification : It is classified as an immutable datatype.

how to declare the string datatype --------> ?

1. Single quote =====> '  '

2. Double quote =====> "  "

In [25]:
name = 'muskan'    # single quote

print(name)

muskan

In [27]:
name = "dinesh"    # double quote

print(name)

dinesh